*{
  margin: 0;
  padding: 0;
}
.container{
  margin: 0 auto;
  max-width: 1300px;
}
.navbar{
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
  padding-top: 30px;
}
.middle ul{
  
  display: flex;
  gap: 20px;
}
.middle ul li{
  padding-top: 10px;
  list-style: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
}
.container1{
  background-image: url(./img/bgmain.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.login{
  width: 129px;
  height: 41px;
  border: 1px solid #FFFFFF;
  border-radius: 10px;
  background: transparent;
  color: white;
}
.registr{
  width: 156px;
  height: 41px;
  border: 1px solid #FFFFFF;
  border-radius: 10px;
  margin-left: 25px;
}
.left-right{
  display: flex;
  gap: 10px;
}
.center{
  display: flex;
  align-items: center;
  justify-content: center;
}
.buttonAndtext h1{
  width: 684px;
  font-weight: 900;
  font-size: 40px;
  line-height: 49px;
  
  color: #FFFFFF;
}
.buttonAndtext p{
  margin: 30px 0px;
  width: 557px;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
}
.left-btn button{
  width: 273px;
  height: 66px;
  background: #FF00D6;
  border-radius: 10px;
  color: white;
  border: none;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  
  color: #FFFFFF;
}
.right-text p{
  position: relative;
  bottom: 10px;
}
.center{
  margin-top: 70px;
}
.left-img{
  padding-bottom: 100px;
}
/* .container2 */
.container2{
  padding-bottom: 100px;
}
.threeWords p{
  width: 420px;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  
  color: #535353;
  
}
.threeWords{
  display: flex;
  gap: 15px;
  align-items: center;
}
.firstrow{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 140px;
  gap: 50px;
  margin-bottom: 100px;
}
.secondrow{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;

}
.total{
  width: 580px;
  font-weight: 900;
  font-size: 40px;
  line-height: 49px;
  
  color: #1D1D1D;
}
.total{
    
  margin-bottom: 30px;
}
.textt{
  
  padding-bottom: 20px;
}
.banan{
  width: 580px;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  margin: 40px 0px;
  color: #535353;
}
.more{
  width: 273px;
  height: 66px;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #3BA3FF;
  border: none;
  background: #FFFFFF;
  border: 1px solid #3BA3FF;
  border-radius: 10px;
  background: transparent;
}
/* .container3 */
.container3{
  background-color: #E9EBF7;
  height: 800px;
}
.kids{
  display: flex;
  justify-content: center;
  gap: 20px;
}
.modulKid{
  padding-top: 100px;
  font-weight: 900;
  font-size: 40px;
  line-height: 49px;
  color: #1D1D1D;
  width: 643px;
  padding-bottom: 60px;
}
/* .container4 */
.bluebox{
  width: 1160px;
  height: 359px;
  background-image: url(./img/blueback.png);
  border-radius: 10px;
  position: relative;
  bottom: 170px;
}
.bluebox h1{
  padding-top: 90px;
  padding-left: 80px;
  font-weight: 900;
  font-size: 40px;
  line-height: 49px;
  color: #FFFFFF;
  margin-bottom: 20px;
  width: 888px;
}
.blue-leftBtn button{
  width: 273px;
  height: 66px;
  background: #FF00D6;
  border-radius: 10px;
  color: white;
  border: none;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  text-align: center;

  color: #FFFFFF;
}
.blue-left{
  display: flex;
  gap: 10px;
  
  padding-left: 80px;
  align-items: center;
} 
.right-blue{
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  width: 218px;
}
/* .container5 */
.container5{
  padding-bottom: 100px;
}
.some-img{
  display: flex;
  gap: 20px;
    
}
.some{
  display: flex;
  justify-content: space-between;
}
.some-text{
  width: 320px;
}
.some-imgicon{
  margin-top: 7px;
}
.start-video{
  width: 60%;
  margin: auto;
  margin-top: 100px;
}
/* .container 6 */
.container6{
  background-image: url(./img/bg1.png);
  padding-bottom: 160px;

}
.search{
  width: 1116px;
  font-weight: 900;
  font-size: 40px;
  line-height: 49px;
  color: #1D1D1D;
  padding-top: 120px;
  padding-bottom: 90px;
}
.firstLine, .secondLine{
  display: flex;
  gap: 30px;
}
.secondLine{
  padding-bottom: 90px;
}
/* .container7 */
.purple1{
  width: 1160px;
  height: 357px;
  color: #FFFFFF;
  background-image: url(./img/purplebox.png);
  border-radius: 10px;
  position: relative;
  bottom: 170px;
}
.purple1 h1{
  padding-top: 90px;
  padding-left: 80px;
  font-weight: 900;
  font-size: 40px;
  line-height: 49px;
  color: #FFFFFF;
  margin-bottom: 20px;
  width: 888px;
  padding-bottom: 30px;
}
.purple-leftBtn button{
  width: 273px;
  height: 66px;
  background: #FF00D6;
  border-radius: 10px;
  color: white;
  border: none;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  text-align: center;

  color: #FFFFFF;
}
.purple-left{
  display: flex;
  gap: 30px;
  
  padding-left: 80px;
  align-items: center;
} 
.right-purple{
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  width: 730px;
}
.footer{
  text-align: center;
  display: flex;
  justify-content: space-evenly;
}
.container8{
  padding-bottom: 30px;
}
.orange{
  position: relative;
  bottom: 101px;
  left: 800px;
}
.leaf{
  position: relative;
  left: 400px;
  bottom: 500px;
}
@media only screen and (min-width: 600px ) and (max-width: 1280px) {  
  .container1{
    text-align: center  ;
      width: 1590px;
      height: 700px;
  }
  .navbar{
      width: 1390px;
      display: flex;
      justify-content: space-between;
      padding-bottom: 30px;
      height: 60px;
  }
  .buttonAndtext h1{
    font-size: 50px;
  }
  .buttonAndtext p{
    position: relative;
    left: 50px;
  }
  .container2, .container3, .container4, .container5, .container6, .container7, .container8, .container9{
      width: 1590px;
  }
  .left-img, .middle{
    display: none;
  }
  .center{
    position: relative;
    left: 100px;
  }
  .container{
    margin: 0 auto;
    max-width: 1300px;
  }
}
@media only screen and (min-width: 360px ) and (max-width: 599px) {  
  .container1{
    text-align: center  ;
      width: 1200px;
      height: 700px;
  }
  .center h1{
    width: 60%;
    margin: auto;
  }
  .left-right{
    width: 40%;
    margin: auto;
    display: block;
    margin-top: 50px;
  }
  .center p{
    width: 60%;
    margin: auto;
    margin-top: 40px;
  }
  .left-img, .middle{
    display: none;
  }
  .firstrow, .secondLine, .firstLine, .secondrow{
    flex-wrap: wrap;
  }
  .navbar{
      width: 1100px;
      display: flex;
      justify-content: space-between;
      padding-bottom: 30px;
      padding-left: 50px;
      height: 60px;
  }
  .container2, .container3, .container4, .container5, .container6, .container7, .container8, .container9{
      width: 1200px;
      margin: auto;
  }
  .search, .modulKid{
    text-align: center;
  }
  .firstLine, .secondLine{
    width: 50%;
    margin: auto;
  }
  .some{
    justify-content: center;
    gap: 20px;
  }
  .leaf{
    display: none;
  }
  .start-video{
    width: 70%;
    margin: auto;
    margin-top: 40px;
  }
}
